@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 242, 220);
  font-family: "Poppins", sans-serif;
}

.meal {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 3px 5px rgb(95, 93, 73);
}

.meal-img {
  flex: 1;
}

.meal-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.meal-details {
  padding: 30px;
  flex: 2;
}

.meal-title {
  margin: 0 0 20px;
  color: brown;
}
.meal-instruction {
  font-size: 14px;
}
.meal-info {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.meal-info li {
  color: rgb(155, 139, 139);
  font-size: 12px;
  font-weight: 300;
  margin-right: 50px;
}

.mail-info li strong {
  color: rgb(163, 74, 74);
  font-size: 18px;
  display: block;
}
