.container {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}

header {
  height: 100px;
  background: linear-gradient(90deg, #f60303, #fdf903);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

main {
  padding: 0.5rem;
}

nav ul li {
  display: inline-block;
  margin: 0 1rem;
}

p h1 nav li {
  font-family: "Poppins", sans-serif;
}

header nav ul li {
  display: inline-block;
  padding: 0 1rem;
}

header a {
  text-decoration: none;
  color: #333;
}

header a:hover {
  color: white;
  text-decoration: underline;
}

footer {
  min-height: 150px;
  width: 100%;
  background: linear-gradient(90deg, #fdf903, #f60303);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}
