@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(250, 244, 224);
}

p.welcomeText {
  text-align: center;
}

h1 {
  text-align: center;
}

#mobileButton {
  display: none;
}

@media (max-width: 899px) {
  #mobileButton {
    display: block;
    background-color: transparent;
    border: none;
  }
  #mobileButton .material-icons {
    font-size: 2rem;
  }

  nav ul {
    display: none;
  }

  ul {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 85px;
  }

  nav.responsive ul li {
    display: block;
  }

  nav.responsive ul li a {
    display: block;
    padding: 1rem 2rem;
  }
}
